@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto','Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    z-index: 1;
    position: fixed;
    top: 0;
}

.logo{
    width: 180px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    font-weight: 100;
}

.logo i{
    font-size: 20px;
}

.search{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search span{
    width: 90%;
    height: 70%;
    border: 1.5px solid rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.search i{
    margin: auto 0px;
    align-content: center;
}

.search span i{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search span input{
    width: 90%;
    height: 100%;
    border: none;
    border-right: 1.5px solid rgb(0 0 0 / 15%);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 0.7rem;
}
.search span input:focus{
    outline: 2px solid blue;
}

.search span i:hover{
    background-color: #f0f0f0;
}

.user{
    width: 200px;
    height: 90%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-circle-user{
    font-size: x-large;
}
main{
    margin-top: 4rem;
    width: 179.4vh;
    height: 100vh;
    display: flex;
    position: fixed;
}
aside{
   width: 260px;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    position: relative;
    overflow: scroll;
}

.right-aside{
    width: 82%;
    display: flex;
    flex-direction: column;
}

.sections{
    width: 100%;
    height: 85vh;
    padding: 3rem 0px;
    overflow-y: scroll;
    padding: 1rem 1rem 1rem 1rem;
}

section{
    width: 100%;
    margin: 1rem 0px;
    display: flex;
    justify-content: space-between;
}

aside ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 0.5px solid rgb(151, 156, 160);
    padding: 0.3rem 0px 0.3rem 0px;
}

aside ul li{
    width: 100%;
    height: 39px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
}
aside ul li:hover{
    background-color: #c0bbbb;
}
aside ul li i{
    font-size: 19px;
    margin-left: 1.5rem;
    color: black;
}

aside ul li img{
    margin-left: 1rem;
    width: 28px;
    height: 28px;
    border-radius: 50px;
}
aside ul li h4{
    font-weight: 400;
    font-size: 15px;
    margin-left: 1.5rem;
    color: #949494;
}
aside ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
    width: 75%;
}
.more-opt i{
    color: red;
}
.on{
    font-size: xx-large;
    margin-left: 4rem;
    position: absolute;
    right: 0.9rem;
    bottom: 0.2rem;
    color: rgb(11, 120, 124);
}
.aside-active{
    color: black;
}

.nav-active{
    background-color: black;
    color: white;
    font-weight: bold;
    /* padding: 0.7rem; */
}

nav{
    height: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(151, 156, 160);
    border-left: none;
    border-right: none;
    padding: 1.6rem 1rem;
    position: relative;
}

.nav-div{
    width: 100%;
}

.scroll-left{
    margin-bottom: 0.13rem;
    width: 60px;
    height: 90%;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 3px #FFFFFF;
    color: rgb(151, 156, 160);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    border: 1.5px solid rgb(0 0 0 / 15%);
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    font-weight: 100;
    margin: 0px 0.1rem;
}
nav button:hover{
    background-color: #e5e5e5;
}


.extra-videos{
    width: 100%; 
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.2rem solid #E0E0E0;
    border-bottom: 0.2rem solid #E0E0E0;
}

.more-videos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
}
.more-videos:hover{
    background-color: #f0f0f0;
}

.options-videos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0px;
}

.shorts{
    width: 100%;
    height: 12%;
    padding:0px 0.6rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    font-size: 20px;
    margin-top: 1.5rem;
}

.shorts-info{
    width: 8.5%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.shorts-info i{
    color: #FF0000;
}

.shorts-info h3{
    margin: 0;
    padding: 0;
    font-weight: 200;
}

.shorts-cancel{
    font-size: 25px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: 200;
}

.v-d{
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 1rem;
}

.o-v-d{
    width: 180px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.o-v-d .video{
    height: 90%;
}

.o-v-d .info{
    height: 20%;
    padding-top: 0.5rem;
}
.o-v-d .video-info h3{
    font-weight: 400;
    font-size: 14px;
}
.o-v-d .video-info p{
    font-weight: 200;
    font-size: 14px;
}

.video{
    width: 100%;
    height: 60%;
}

.info{
    width: 100%;
    height: 36%;
    display: flex;
    padding-top: 0.5rem;
}

.video-img{
    width: 20%;
}

.video-info{
    width: 76%;
    margin: 0.1rem 0.5rem 0px 0px; 
}

.video-info h3{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
}

.video-info p{
    margin: 0;
    padding: 0;
    font-size: small;
    font-weight: 100;
    margin-top: 0.8rem;
    color: #3D3D3D;
}

.video iframe{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 5px;    
    background-color: rgb(184, 181, 181);
}

aside::-webkit-scrollbar-thumb{
    background-color: rgb(107, 105, 105);
}
@media only screen and (max-width:1233px) and (min-width:926px) {
    aside{
        display: none;
    }
}
 @media only screen and (max-width: 925px) and (min-width: 320px){
     /* body{
         background-color: red;
     } */

     aside{
         display: none;
     }
     .search span{
         display: none;
     }
     .search .fa-microphone{
         display: none;
     }

     nav{
         overflow-x: scroll;
         display: none;
     }

     .user i{
         display: none;
     }
     .logo{
         background-color: orange;
         width: 230px;
     }
     .logo img{
         height: 30px;
         margin-left: 1rem;
     }

     .sections{
         padding: 0px;
     }
     section {
         display: block;
         background-color: orchid;
     }

     .right-aside{
         width: 100%;
     }
     .v-d{
         width: 100%;
     }
 }
